<footer class="w3-container w3-padding-64 w3-left w3-opacity">
  <div class="w3-xlarge w3-padding-32">
    <a href="https://snapchat.com" class="fa fa-snapchat"></a><br />
    <a href="https://www.twitter.com/" class="fa fa-twitter"></a><br />
 </div>
</footer>

<footer class="w3-container w3-padding-64 w3-right w3-opacity">
  <div class="w3-xlarge w3-padding-32">
    <a href="https://www.facebook.com" class="fa fa-facebook-official"></a><br />
    <a href="https://www.instagram.com" class="fa fa-instagram"></a><br />
 </div>
</footer>
