<div class="navbar">


  <div class="dropdown">
    <button class="dropbtn">Home
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/">Home</a>
      <a href="/carform">Search Form</a>
      <a href="/carhistorical">Recently Search History</a>
    </div>
  </div>

</div>
