<option value="car_dealer">I want to buy a car!</option>
<option value="car_rental">I want to rent a car!</option>
<option value="car_repair">I want to repair my car!</option>
<option value="car_wash">I want to wash my car!</option>
<option value="gas_station">I want to fuel up!</option>
<option value="insurance_agency">I need insurance Agency!</option>
<option value="parking">I want nearest Parking!</option>
