<!DOCTYPE html>
<html>
<head>
  <title>Places Search Historical</title>
  {{> stylerefs}}
</head>
<body>

{{> navbar}}

<header class="w3-container w3-center w3-padding-32">
  <h1><b>Searched History</b></h1>
  <p>This page shows all the searched content.</p>
</header>

<div class="container-fluid">
  <form action="/" method="post">
    <button class="btn btn-primary btn-lg" type="submit" formaction="/cardelete">Clear History</button>
  </form>
  <br></br>
  <table class="table table-striped">
    {{#list items}}<tr><td>{{name}}</td><td>{{address}}</td><td><img src={{photo_reference}} width="200" height="200"></td></tr>{{/list}}
  </table>
</div>

{{> footer}}

</body>
</html>
